<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create question</title>
</head>
<body>
    <h1>Créer une nouvelle question</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for subform in formset %}
            {{ subform.as_p }}
        {% endfor %}
        <button type="submit">Enregistrer</button>
    </form>



    <a href="{% url 'polls:index' %}">Retour à la liste des sondages</a>

</body>
</html>