{% extends 'base.html' %}

{% load static %}

{% block title %}Ajouter une nouvelle question{% endblock %}

{% block header %}
    <img src="{% static 'images/add-question-banner.jpg' %}" alt="Ajouter une question" width="100%">
{% endblock %}

{% block main %}
    <h1>Ajouter une nouvelle question</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h3>Choix</h3>
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr>
                <td>{{ form.choice_text.label_tag }}: {{ form.choice_text }}</td>
            </tr>
            {% endfor %}
        </table>

        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
