{% extends 'base.html' %}
{% load static %}

{% block title %}Liste des derniers sondages{% endblock %}

{% block main %}
    <h1>Liste des derniers sondages</h1>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> -
                    Publiée le {{ question.pub_date|date:"F j, Y" }}
                </li>
            {% endfor %}
        </ul>
    <a href="{% url 'polls:create_question' %}">Créer un nouveau sondage</a>
    {% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}

